body {
    background-color: #972831;
}

#fileInput {
    width: 200px;

}

h1 {
    margin-left: 30px;
    font-size: 30px;
}

label,input {
    margin: 5px 30px 20px 50px;
    font-size: 15px;
}

h3 {
    margin-left: 15px;
    color: #972831;
    font-size: 20px;
}

#container {
    width: 1000px;
    height: 1000px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

#mainPanel {
    display: flex;

}

#left {
    width: 40%;
    background-color: #E9EEF0;
    margin: 20px;
}

input {
    width: 100px;
}

#right {
    width: 40%;
    margin: 20px;
}

#histogram{
    background-color: #E9EEF0;
    padding-top: 0.1px;
}

#stats{
    background-color: #E9EEF0;
    padding-bottom: 30px;
}

td {
    padding-left: 50px;
    padding-bottom: 5px;
}